import os
os.getcwd()

**User Authentication System**

feature list

- SignUp 
    -username (wiill be unique)
    -email
    -password
    -personaldetails
        -name
        -ph. no.
        -dob
    -Password recovery
        -backupcode(autogenerated -5)
        -security question -2
        -otp from ph no (twilio)
    
-Signin
    -forgot password
        -password recovery
    -username
    -password
    -change password
    -profile

-database

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('database.csv')
df

,userId,username,email,password,name,phone_number,DOB,backup_code,SecAns1,SecAns2
0,1,rana,rana@123.com,Newpass!!,Tannu,2201730093,18/09/2020,PXE6Y,tom,orv
1,2,an,anna@123.com,Rose#123,Anna,5698743254,05/12/2026,OK69XF,coco,lotm

In [6]:
# if you want t enter data

#df.loc[len(df)]= [123,'an123','an@123.com','1234','An Rose','1563248789','4/7/1999','asfefe','bald','joy']

In [11]:
def initializeDatabase():
    import pandas as pd
    df=pd.read_csv('database.csv')
    return df

In [14]:
def personalinfo():
    name= input("Enter your name")
    import re
    while True:
        phone= input("Enter your phone no.")
        if phone.isdigit() and len(phone) == 10:
            break
        else: print ('number not valid')
    while True:
        dob=input("Enter your date of birth [DD/MM/YYYY]")
        pattern = r'^\d{2}/\d{2}/\d{4}$'
        if re.match(pattern, dob):
            break
        else:
            print("Invalid date format. Please use DD/MM/YYYY format.") 
        
    return name,phone,dob

#personalinfo()

In [16]:
def takemail():
    import re
    while True:
        mail = input("Enter your email address: ").lower()
        pattern = r'^[a-z0-9._%+-]+@[a-z0-9.-]+\.com$'
        
        if re.match(pattern, mail):
            return mail
        else:
            print("Invalid email format. Please try again.")

#takemail()

In [17]:
def password():
    import re
    while True:
        passw= input("enter your password")
        if len(passw) < 8:
            print ("Password is too short (min 8 characters).")
        if not re.search(r"[A-Z][a-z][0-9]", passw):
            print ("Password needs at least one uppercase and lowercase letter and a number.")
        if not re.search(r"[!@#$%^&*()_+\-=\[\]{}|\\;:'\",.<>/?]", passw):
            print ("Password needs at least one special character.")
        else:
            break
    return passw

#password()

In [18]:
def securityQ():
    a1= input("Enter the name of your pet")
    a2= input("enter the name of your fav book")

    return a1,a2

#securityQ()

In [19]:
def updatedata(df):
    df.to_csv('database.csv', index = False)
    print('Update Successful')
    return

In [20]:
def backupcode():
    import random as r
    al='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    dig='012345679'
    poss=al+dig
    s=''
    for i in range(r.randint(5,6)):
        char=r.choice(poss)
        s=s+char+''
    return s

#backupcode()

In [21]:
def forgotpass(user):
    a=input('''enter 1 if you would like to use security questions for password recovery 
    or enter 2 to use the backup code''')
    df=initializeDatabase()
    if a=='1':
        storeda1 = df.loc[df['username'] == user, 'SecAns1'].values[0]
        storeda2 = df.loc[df['username'] == user, 'SecAns2'].values[0]
        for i in range(3):
            a1= input("Enter the name of your pet")
            a2= input("enter the name of your fav book")
            if a1==storeda1 and a2==storeda2:
                passw=password()
                df.loc[df['username'] == user, 'password'] = passw
                updatedata(df)
                return True
            else:
                print('incorrect answer',2-i,'chances left')
        return False
    
    elif a=='2':
        storedbc = df.loc[df['username'] == user, 'backup_code'].values[0]
        for i in range(3):
            bc= input('enter your backup code')
            if bc==storedbc:
                passw=password()
                df.loc[df['username'] == user, 'password'] = passw
                updatedata(df)
                return True
            else:
                print('incorrect answer',2-i,'chances left')
        return False
    else:
        return False



#forgotpass('rana')

In [22]:
def signIn():
    print('welcome to the sign in page')
    while True:
        df=initializeDatabase()
        user=input('enter username, or 0 to exit')
        if user=='0':
            print('exiting, please visit again')
            break
        if user in df.username.tolist():
            for i in range(3):
                passw=input('enter your password')
                storedpass = df.loc[df['username'] == user, 'password'].values[0]
                if passw==storedpass:
                    return 'welcome back'
                    #profile
                else:
                    print('incorrect password',2-i,'chances left')
            print('sign in failed, would you like to try again?')
            forpass=input('enter 1 to forgot password or 0 to exit')
            if forpass=='1':
                if not(forgotpass(user)):
                    return 'failed'
            else:
                return 'thanks for visiting'
        else:
            print('username not found')

#signIn()

In [30]:
def signUp():
    print('registering new user')
    df=initializeDatabase()
    while True:
        user=input("Enter username or 0 to exit").lower()
        if user=='0':
            print("visit again")
            break
        if user not in df.username.tolist():
            mail= takemail()
            if mail not in df.email.tolist():
                name,phone,dob=personalinfo()
                passw=password()
                a1,a2=securityQ()
                code=backupcode()
                print("your backupcode is",code)
                userid= len(df) + 1
                df.loc[len(df)] = [userid, user, mail, passw, name, phone, dob, code, a1, a2]
                updatedata(df)
                print("Congratulations on your registration!")
                break
            else: 
                print('email already registered')
        else:
            print("username already taken")


#signUp()

In [32]:
def homepage():
    mode=input('''
    Enter 1 for SignUp
    Enter 2 for SignIn
    Enter 0 to exit
    :''')
    if mode=='1':
        
        signUp()
    elif mode=='2':
        print('signing in')
        signIn()
    elif mode=='0':
        print('Thankyou for visiting')
    
homepage()

    Enter 1 for SignUp
    Enter 2 for SignIn
    Enter 0 to exit
    : 1

registering new user

Enter username or 0 to exit an

username already taken

Enter username or 0 to exit sejal123
Enter your email address:  sejal@123.com
Enter your name Sejal
Enter your phone no. 65478932155

number not valid

Enter your phone no. 1235478965
Enter your date of birth [DD/MM/YYYY] 29/08/2014
enter your password Hello@123

Password needs at least one uppercase and lowercase letter and a number.

Enter the name of your pet dog
enter the name of your fav book cinderella

your backupcode is APXRB
Update Successful
Congratulations on your registration!

In [34]:
initializeDatabase()

,userId,username,email,password,name,phone_number,DOB,backup_code,SecAns1,SecAns2
0,1,rana,rana@123.com,Newpass!!,Tannu,2201730093,18/09/2020,PXE6Y,tom,orv
1,2,an,anna@123.com,Rose#123,Anna,5698743254,05/12/2026,OK69XF,coco,lotm
2,3,sejal123,sejal@123.com,Hello@123,Sejal,1235478965,29/08/2014,APXRB,dog,cinderella